@model Olive.Website.ViewModels.Account.CreateViewModel
@using Olive.Website.Views;
@using Olive.Website.Views.Account;
@{
    ViewBag.Title = AccountResources.Create_DocumentTitle;
}

<h2>@AccountResources.Create_PageHeading</h2>

@using (Html.BeginForm()) 
{
   @Html.ValidationSummary(true, ViewResources.DefaultValidationSummary)
    <fieldset>
        <div>
            @Html.LabelFor(m => m.CurrencyId)
            @Html.DropDownListFor(m => m.CurrencyId, Model.Currencies.Select(c => new SelectListItem { Value = c, Text = c }))
            @Html.ValidationMessageFor(m => m.CurrencyId)
        </div>

        <div>
            @Html.LabelFor(m => m.DisplayName)
            @Html.TextBoxFor(m => m.DisplayName)
            @Html.ValidationMessageFor(m => m.DisplayName)
        </div>

        <div>
            <input type="submit" value="@AccountResources.Create_SubmitButtonCaption" />
        </div>
    </fieldset>
}
