@model Olive.Website.ViewModels.Account.IndexViewModel

@{
    ViewBag.Title = "Overview";
}

<h2>Overview</h2>

<div>
    <a href="/Account/Create">Create account</a>
</div>

<table>
    <tr>
        <th>#</th>
        <th>Type</th>
        <th>Currency</th>
        <th>Balance</th>
        <th>Name</th>
        <th></th>
    </tr>

    @foreach (var account in this.Model.Accounts)
    {
        <tr>
            <td><a href="/Account/Details/@account.AccountId">@account.AccountId</a></td>
            <td>@account.CurrencyId</td>
            <td>@account.Type</td>
            <td>@account.Balance</td>
            <td>@account.DisplayName</td>
            <td>
                <a href="/Account/Details/@account.AccountId">Details</a>
                <a href="/Account/Edit/@account.AccountId">Edit</a>
                <a href="/Account/Transfer/?SourceAccountId=@account.AccountId">Transfer</a>
                <a href="/Account/Withdraw/?SourceAccountId=@account.AccountId">Withdraw</a>
            </td>
        </tr>
    }
</table>
