@model Olive.Website.ViewModels.Account.TransferViewModel

@{
    ViewBag.Title = "Transfer";
}

@using (Html.BeginRouteForm("Account_Transfer", new { sourceAccountId = @Model.SourceAccountId }))
{ 
    <div>
        @Html.LabelFor(m => m.SourceAccountId)
        @Html.TextBoxFor(m => m.SourceAccountId)
        @Html.ValidationMessageFor(m => m.SourceAccountId)
    </div>
    
    <div>
        @Html.LabelFor(m => m.DestAccountId)
        @Html.TextBoxFor(m => m.DestAccountId)
        @Html.ValidationMessageFor(m => m.DestAccountId)
    </div>
    
    <div>
        @Html.LabelFor(m => m.Amount)
        @Html.TextBoxFor(m => m.Amount)
        @Html.ValidationMessageFor(m => m.Amount)
    </div>
    
    <div>
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description)
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    <input type="submit" value="Send transfer" />
    <a href="/Account">Cancel</a>
}
